@charset 'utf-8';
.header {
  background-color: #333;
}
.header > .header_wrap {
  height: 40px;
  font-size: 12px;
}
.header > .header_wrap a {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  display: inline-block;
  cursor: pointer;
}
.header > .header_wrap span {
  margin: 0 10px;
  color: #424242;
  float: left;
  height: 40px;
  line-height: 40px;
}
.header > .header_wrap > .header_left ul li {
  float: left;
}
.header > .header_wrap > .header_right * {
  float: left;
  font-size: 12px;
}
.header > .header_wrap > .header_right .shopping_car > a {
  padding: 0 20px;
  margin-left: 15px;
  height: 40px;
  line-height: 40px;
}
.header > .header_wrap > .header_right .shopping_car > a i {
  padding-right: 5px;
  font-size: 16px;
  font-weight: bold;
}
.nav_wrap {
  height: 50px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #f4f4f4;
  position: sticky;
  top: 0px;
  z-index: 9999;
}
.nav_wrap * {
  float: left;
  text-align: center;
  line-height: 50px;
}
.nav_wrap h1 {
  padding: 0 20px;
  height: 50px;
  width: 161px;
}
.nav_wrap h1 a {
  margin-top: 12px;
  margin-left: 5px;
}
.nav_wrap h1 a img {
  width: 112px;
  height: 28px;
}
.nav_wrap ul > li a {
  display: inline-block;
  width: 72px;
  height: 50px;
  color: #767676;
  font-size: 16px;
}
.nav_wrap ul > li:hover {
  color: #ed1c24;
  background-color: #fff;
}
.nav_wrap ul > li:hover .item_child {
  display: block;
}
.nav_wrap ul > li .item_child {
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #fff;
  height: 310px;
  width: 1140px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  display: none;
}
.nav_wrap ul > li .item_child .row {
  width: 1140px;
  padding-top: 20px;
}
.nav_wrap ul > li .item_child .row .col-md-2 {
  height: 260px;
  text-align: center;
  font-size: 16px;
}
.nav_wrap ul > li .item_child .row .col-md-2 * {
  display: block;
  width: 100%;
}
.nav_wrap ul > li .item_child .row .col-md-2 a {
  cursor: pointer;
  display: block;
  height: 160px;
}
.nav_wrap ul > li .item_child .row .col-md-2 h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 16px;
  height: 30px;
  line-height: 30px;
  color: black;
}
.nav_wrap ul > li .item_child .row .col-md-2 p {
  height: 30px;
  line-height: 30px;
  color: #989898;
}
.nav_wrap ul > li .item_child .row .col-md-2 span {
  height: 30px;
  line-height: 30px;
  color: red;
}
.nav_wrap ul > li:last-child a {
  padding-left: 25px;
}
.nav_wrap ul > li:last-child a:hover {
  color: #767676;
}
.banner {
  background-color: pink;
  position: relative;
}
.banner .banner_wrap {
  position: relative;
}
.banner .banner_wrap .banner_pic {
  overflow: hidden;
  width: 570px;
  height: 500px;
  position: relative;
  margin-left: 50%;
}
.banner .banner_wrap .banner_pic > div {
  height: 500px;
  position: absolute;
}
.banner .banner_wrap .banner_pic > div > img {
  float: left;
}
.banner .banner_wrap .banner_pic > span {
  position: absolute;
  top: 40%;
  margin-left: 150px;
  font-size: 3em;
  user-select: none;
  cursor: pointer;
  color: lightgray;
}
.banner .banner_wrap .banner_pic > span:last-of-type {
  right: 150px;
}
.banner .banner_wrap .banner_pic > ul {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
  z-index: 122;
}
.banner .banner_wrap .banner_pic > ul > li {
  width: 45px;
  height: 4px;
  background-color: lightgray;
  margin-right: 5px;
  float: left;
}
.banner .show {
  background-color: red!important;
}
.banner .category {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 234px;
  color: #fff;
  margin: 0;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
}
.banner .category ul li a {
  display: block;
  height: 45px;
  line-height: 45px;
  padding: 0 10px 0 30px;
  color: white;
}
.banner .category ul li a i {
  float: right;
}
.banner .category ul li:hover .cate_menu {
  display: block;
}
.banner .category ul li .cate_menu {
  position: absolute;
  height: 500px;
  top: 0;
  left: 234px;
  background-color: white;
  z-index: 999;
  display: none;
}
.banner .category ul li .cate_menu ul {
  width: 234px;
  height: 100%;
  float: left;
  overflow: hidden;
}
.banner .category ul li .cate_menu ul li > a {
  display: block;
  height: 80px;
  line-height: 80px;
  color: black;
  padding-left: 10px;
}
.banner .category ul li .cate_menu ul li > a > * {
  display: inline-block;
  vertical-align: middle;
}
.banner .category ul li .cate_menu ul li > a img {
  width: 50px!important;
  height: 35px!important;
}
.banner .category ul li .cate_menu ul li > a p {
  margin-left: 5px;
}
.banner .category ul li .cate_menu ul li > a i {
  width: 0;
  height: 100%;
}
.banner .category ul li .cate_menu ul li > a:hover {
  color: red;
}
.news_wrap {
  height: 200px;
  padding: 0;
  padding-top: 20px;
}
.news_wrap .row {
  height: 180px;
  width: 1140px;
}
.news_wrap .row .col-md-3 {
  height: 180px;
  width: 270px;
}
.news_wrap .row .col-md-3 a {
  width: 90px;
  height: 90px;
  padding-top: 25px;
  display: block;
  float: left;
  text-align: center;
  box-sizing: border-box;
  color: white;
  background-color: #f68387;
}
.news_wrap .row .col-md-3 a:nth-of-type(even) {
  background-color: #f2555b;
}
.news_wrap .row .col-md-3 img {
  width: 270px;
  height: 180px;
}
.star_wrap {
  height: 420px;
  padding-top: 30px;
}
.star_wrap h3 {
  color: #767676;
  font-size: 22px;
  font-weight: bold;
}
.star_wrap h3 span {
  display: block;
  float: right;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #bcbcbc;
  cursor: pointer;
}
.star_wrap h3 span:last-child {
  margin-right: 5px;
}
.star_wrap h3 span:hover {
  border: 1px solid red;
  color: #333;
}
.star_wrap .products {
  width: 100%;
  height: 340px;
  overflow: hidden;
  position: relative;
}
.star_wrap .products .products_wrap {
  width: 2000px;
  position: absolute;
  left: 0;
}
.star_wrap .products .products_wrap .product_show {
  width: 270px;
  height: 340px;
  margin-left: 20px;
  float: left;
  text-align: center;
  padding-top: 25px;
  background: #f7f7f7;
  font-size: 14px;
}
.star_wrap .products .products_wrap .product_show:first-child {
  margin: 0;
}
.star_wrap .products .products_wrap .product_show img {
  width: 190px;
  height: 190px;
  margin: 0 auto;
}
.star_wrap .products .products_wrap .product_show h4 {
  line-height: 30px;
  margin-top: 15px;
}
.star_wrap .products .products_wrap .product_show div {
  color: #989898;
  line-height: 30px;
}
.star_wrap .products .products_wrap .product_show p {
  color: #ed1c24;
  line-height: 30px;
}
.star_wrap .products .products_wrap .product_show p span {
  text-decoration: line-through;
  color: #b0b0b0;
}
.content {
  background: #f7f7f7;
  margin-top: 30px;
  padding-top: 20px;
}
.content .content_wrap {
  padding-bottom: 50px;
}
.content .content_wrap h3 {
  color: #767676;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
  margin: 30px 0 10px 0;
}
.content .content_wrap h3 > span {
  font-size: 22px;
}
.content .content_wrap h3 ul {
  float: right;
}
.content .content_wrap h3 ul a:nth-last-of-type(1) {
  color: #ff5d59;
}
.content .content_wrap h3 ul * {
  display: block;
  float: left;
  color: #333;
  font-size: 14px;
  margin-right: 4px;
}
.content .content_wrap h3 ul a:hover {
  color: #ff5d59;
}
.content .content_wrap > img {
  width: 100%;
  height: 370px;
}
.content .content_wrap .products_wrap {
  margin-top: 20px;
}
.content .content_wrap .products_wrap .product_show {
  width: 270px;
  height: 340px;
  float: left;
  margin: 0 0 0 20px;
  padding-top: 25px;
  text-align: center;
  transition: all 0.5s;
  background: #fff;
  font-size: 14px;
}
.content .content_wrap .products_wrap .product_show:first-child {
  margin: 0;
}
.content .content_wrap .products_wrap .product_show img {
  width: 190px;
  height: 190px;
  margin: 0 auto;
}
.content .content_wrap .products_wrap .product_show h4 {
  line-height: 30px;
  margin-top: 15px;
}
.content .content_wrap .products_wrap .product_show div {
  color: #989898;
  line-height: 30px;
}
.content .content_wrap .products_wrap .product_show p {
  color: #ed1c24;
  line-height: 30px;
}
.content .content_wrap .products_wrap .product_show p span {
  text-decoration: line-through;
  color: #b0b0b0;
}
.content .content_wrap .products_wrap .product_show:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -2px, 0);
}
.content .content_wrap .products_news .product_show {
  transition: 0;
  font-size: 12px;
  text-align: left;
}
.content .content_wrap .products_news .product_show h5 {
  height: 40px;
  margin: 5px 0;
  padding: 0 10px;
  font-size: 14px;
  overflow: hidden;
}
.content .content_wrap .products_news .product_show p {
  height: 40px;
  color: #b0b0b0;
  padding: 0 10px;
  margin: 0 0 10px 0;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.content .content_wrap .products_news .product_show a {
  color: #4b98ec;
  padding: 0 10px;
}
.content .content_wrap .products_news .product_show:hover {
  box-shadow: 0 0 0;
  transform: translate3d(0, 0, 0);
}
.help_wrap {
  height: 535px;
}
.help_wrap .footer {
  padding: 40px 0 20px 0;
  border-bottom: 1px solid lightgray;
}
.help_wrap .footer li {
  float: left;
  width: 220px;
  height: 54px;
  padding-left: 35px;
  color: #b2b2b2;
  font-weight: bold;
}
.help_wrap .footer li i {
  display: inline-block;
  height: 54px;
  line-height: 54px;
  font-size: 22px;
  vertical-align: middle;
}
.help_wrap .footer li div {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
}
.help_wrap .footer li div h4 {
  font-size: 18px;
}
.help_wrap .footer li div span {
  font-size: 12px;
}
.help_wrap .footer_links {
  height: 421px;
  padding-top: 50px;
}
.help_wrap .footer_links dl {
  width: 140px;
  font-size: 14px;
  float: left;
}
.help_wrap .footer_links dl dt {
  height: 35px;
  line-height: 35px;
  color: #333;
  font-weight: 700;
  font-size: 16px;
}
.help_wrap .footer_links dl dd {
  height: 35px;
  line-height: 35px;
}
.help_wrap .footer_links dl dd a {
  color: #767676;
}
.help_wrap .footer_links dl dd a:hover {
  color: red;
}
.help_wrap .footer_links > .tel {
  width: 250px;
  height: 125px;
  float: right;
  border-left: 1px solid #eaeaea;
  text-align: center;
}
.help_wrap .footer_links > .tel p {
  color: #6f6c71;
}
.help_wrap .footer_links > .tel span {
  color: #ff5d59;
  font-size: 26px;
  display: block;
  height: 50px;
  line-height: 50px;
}
.help_wrap .footer_links > .tel a {
  display: inline-block;
  width: 90px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ff5d59;
  color: #ff5d59;
  font-size: 12px;
}
.bottom {
  background-color: #333;
}
.bottom .bottom_wrap {
  height: 100px;
}
.bottom .bottom_wrap .for_logo {
  height: 100px;
  float: left;
}
.bottom .bottom_wrap .for_logo div {
  width: 0;
  height: 100px;
  vertical-align: middle;
  display: inline-block;
}
.bottom .bottom_wrap .for_logo img {
  vertical-align: middle;
  display: inline-block;
  width: 155px;
  height: 25px;
}
.bottom .bottom_wrap .for_link {
  height: 100px;
  line-height: 100px;
  float: right;
  font-size: 12px;
}
.bottom .bottom_wrap .for_link * {
  float: left;
  color: #666;
}
.bottom .bottom_wrap .for_link ul > * {
  float: left;
  margin-left: 3px;
}
.bottom .bottom_wrap .for_link ul a:hover {
  color: white;
}
.noun {
  display: none;
  width: 40px;
  position: fixed;
  top: 100px;
  left: 55px;
}
.noun ul > li {
  border-bottom: 1px solid #fff;
  height: 45px;
  background: #888;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: 0.25s;
}
.noun ul > li a {
  display: block;
  width: 40px;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}
.noun ul > li:hover {
  background: #ed1c24;
}
.tool {
  position: fixed;
  top: 500px;
  right: 0;
}
.tool ul > li {
  width: 42px;
  height: 42px;
  border: 1px solid #bcbcbc;
  margin: -1px 0 -1px 0;
  position: relative;
  background: #fff;
  overflow: hidden;
  transition: 1s;
}
.tool ul > li * {
  position: absolute;
  top: 0;
  width: 42px;
  height: 42px;
  text-align: center;
  display: block;
}
.tool ul > li i {
  line-height: 45px;
}
.tool ul > li a {
  font-size: 12px;
  padding: 4px;
  background: red;
  color: white;
  display: none;
}
.tool ul > li:hover a {
  display: block;
}
